<h2 class="centered">Ganadores de todos los tiempos</h2>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th class="header-ranking centered">ranking</th>
      <th class="centered">nombre usuario</th>
      <th class="centered">puntaje</th>
    </tr>
  </thead>
  <tbody>
    <%if !@all_time_highscores.blank? %>
        <% position = 0 %>
        <% @all_time_highscores.each do |score| %>
          <tr>
            <td class="centered bold"><%= position +=1 %></td>
            <td><%= score.user.username %></td>
            <td class="right"><%= score.score %></td>
          </tr>
        <% end  %>
      <% else %>
        <tr>
          <td class="centered bold">1.</td>
          <td>forever alone</td>
          <td class="right">no hay puntajes</td>
        </tr>
    <% end %>
  </tbody>
</table>