<div class="container custom">
	<div class="row">
		<div class="col-md-8 col-md-offset-2 centered">
			<div class="game">
				<div class="game-timer">
					tiempo restante:
					<span id="game-timer-numbers"></span>
				</div>
				<div id="slider-step"></div>
				<h3>tu puntaje: <span class="user-score">23</span></h3>
				<div class="game-text left">
				  <h4>Texto a recorrer:</h4>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut dicta quae eveniet, quo unde labore iste, laborum tempore asperiores culpa recusandae, iure esse quod totam?
				</div>
				<div class="game-input">
					<form action="">
						<div class="form-group">
							<input type="text" class="form-control" id="game-input" placeholder="ingresa cada palabra y oprime la barra espaciadora para continuar con la siguiente">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>