<% if flash[:alert]%>
  <div class="alert alert-danger" role="alert">
    <%= flash[:alert] %>
  </div>
<% end %>

<div class="container custom">
	<div class="row">
		<div class="col-md-8 col-md-offset-2 centered">
			<h1>¡Bienvenido a type horse racer!</h1>
      <%= link_to "jugar", game_path, id: "play", remote: true, class: "btn btn-info btn-big"  %>


		</div>

		<div class="col-md-12">
			<div class="col-md-4">
				<h2 class="centered">Mis mejores puntajes</h2>
				<table class="table table-striped table-bordered">
			      <thead>
			        <tr>
			          <th class="header-ranking centered">ranking</th>
			          <th class="centered">puntaje</th>
			        </tr>
			      </thead>
			      <tbody>
			        <tr>
			          <td class="centered bold">1.</td>
			          <td class="right">100</td>
			        </tr>
			        <tr>
			          <td class="centered bold">2.</td>
			          <td class="right">95</td>
			        </tr>
			        <tr>
			          <td class="centered bold">3.</td>
			          <td class="right">80</td>
			        </tr>
			        <tr>
			          <td class="centered bold">4.</td>
			          <td class="right">75</td>
			        </tr>
			        <tr>
			          <td class="centered bold">5.</td>
			          <td class="right">70</td>
			        </tr>
			        <tr>
			          <td class="centered bold">6.</td>
			          <td class="right">60</td>
			        </tr>
			        <tr>
			          <td class="centered bold">7.</td>
			          <td class="right">50</td>
			        </tr>
			        <tr>
			          <td class="centered bold">8.</td>
			          <td class="right">40</td>
			        </tr>
			        <tr>
			          <td class="centered bold">9.</td>
			          <td class="right">30</td>
			        </tr>
			        <tr>
			          <td class="centered bold">10.</td>
			          <td class="right">20</td>
			        </tr>
			      </tbody>
			    </table>
			</div>

			<div class="col-md-8">
				<h2 class="centered">Ganadores de todos los tiempos</h2>
				<table class="table table-striped table-bordered">
			      <thead>
			        <tr>
			          <th class="header-ranking centered">ranking</th>
			          <th class="centered">nombre usuario</th>
			          <th class="centered">puntaje</th>
			        </tr>
			      </thead>
			      <tbody>
			        <tr>
			          <td class="centered bold">1.</td>
			          <td>Lorem ipsum dolor.</td>
			          <td class="right">100</td>
			        </tr>
			        <tr>
			          <td class="centered bold">2.</td>
			          <td>Lorem ipsum dolor.</td>
			          <td class="right">100</td>
			        </tr>
			        <tr>
			          <td class="centered bold">3.</td>
			          <td>Lorem ipsum dolor.</td>
			          <td class="right">100</td>
			        </tr>
			        <tr>
			          <td class="centered bold">4.</td>
			          <td>Lorem ipsum dolor.</td>
			          <td class="right">100</td>
			        </tr>
			        <tr>
			          <td class="centered bold">5.</td>
			          <td>Lorem ipsum dolor.</td>
			          <td class="right">100</td>
			        </tr>
			        <tr>
			          <td class="centered bold">6.</td>
			          <td>Lorem ipsum dolor.</td>
			          <td class="right">100</td>
			        </tr>
			        <tr>
			          <td class="centered bold">7.</td>
			          <td>Lorem ipsum dolor.</td>
			          <td class="right">100</td>
			        </tr>
			        <tr>
			          <td class="centered bold">8.</td>
			          <td>Lorem ipsum dolor.</td>
			          <td class="right">100</td>
			        </tr>
			        <tr>
			          <td class="centered bold">9.</td>
			          <td>Lorem ipsum dolor.</td>
			          <td class="right">100</td>
			        </tr>
			        <tr>
			          <td class="centered bold">10.</td>
			          <td>Lorem ipsum dolor.</td>
			          <td class="right">100</td>
			        </tr>
			      </tbody>
			    </table>
			</div>
		</div>
	</div>
</div>

