<% if flash[:alert]%>
  <div class="alert alert-danger" role="alert">
    <%= flash[:alert] %>
  </div>
<% end %>
<div class="custom landing">
  <div class="centered">
    <%= image_tag("fireHorse") %>
  </div>
</div>

