<div id="the-game" class="game">
	<div class="game-timer">
		tiempo restante:
		<span id="game-timer-numbers"></span>
	</div>

	<div class="game-slider">
		<div class="hidden-div"></div>
		<input id="slider" type="range" min="0" max="100" value="0" step="1" readonly="true">
	</div>

	
	<h3>tu puntaje: <span class="user-score">0</span></h3>
	<div class="left">
		<h4>Texto a recorrer:</h4>
		<p class="game-text" id="game-text"><%= @game.textGame %></p>
		<div class="active-word">
			<span>Palabra activa:</span>
			<span class="no-block" id="game-active-word"></span>
		</div>
	</div>
	<div class="game-input">
		<form action="">
			<input type="hidden" value="<%= current_user.id %>">
			<div class="form-group">
				<input type="text" class="form-control" id="game-input" placeholder="ingresa cada palabra y oprime la barra espaciadora para continuar con la siguiente" autofocus>
			</div>
		</form>
	</div>
</div>

